<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Server Error</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="../static/js/menu.js"></script>
</head>
<body>

<audio id="onClick" src="../static/sound/onClick.wav"></audio>

<div class="overlay"></div>
<div class="topnav" id="myTopnav">
    <a onclick="play()" href="http://localhost8080/home" class="active">Home</a>
    <a onclick="play()" href="http://localhost8080/account">Account</a>
    <a onclick="play()" href="http://localhost8080/about">About</a>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
    </a>
</div>

<div class="terminal">
    <h1>Error <span class="errorcode">500</span></h1>
    <p class="output">Looks like it's some problem with your request</p>
    <p class="output">Please try again</p>
    <p class="output">Or read server logs<span id="dots">...</span></p>
    <div class="showMore">
        <span id="more"><p th:text="${error}"></p></span>
    </div>
    <button onclick="myFunction()" id="myBtn">Show Server Logs</button>
</div>

</body>

</html>