<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>User Page</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>

<audio id="onClick" src="../static/sound/onClick.wav"></audio>

<div class="overlay"></div>
<div class="topnav" id="myTopnav">
    <a onclick="play()" href="http://localhost8080/home" class="active">Home</a>
    <a onclick="play()" href="http://localhost8080/account">Account</a>
    <a onclick="play()" href="http://localhost8080/about">About</a>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
    </a>
</div>

<div class="post">
    <p th:text="${post}"></p>
</div>

<script src="../static/js/menu.js"></script>

</body>

</html>