<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

<div class="registration-form">
    <form id="form">

        <input name="userName" type="text" placeholder="Username"
               required><span></span><br>

        <input name="realName" type="text"
               placeholder="Real Name"><span></span><br>

        <input name="email" type="email" placeholder="Email"
               required><span></span><br>

        <input name="phoneNumber" type="tel" placeholder="Phone Number"
               required><span></span><br>

        <input name="password" type="password" pattern="[0-9]{7,}"
               required placeholder="Password"><span></span><br>
        <button type="submit">Register</button>

    </form>

</div>
<script>
    $("#form").submit(function () {
        $.ajax({
            type: "POST",
            url: "/test",
            data: $('form').serialize(),
            success: function success() {
                alert("User Saved Successfully");
            },
            error: function error(xhm) {
                alert("User Wasn't Saved");
            }
        });
    });

</script>

</body>
</html>