<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Friends</title>

    <link type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css" rel="stylesheet">
    <link type="text/css" th:href="@{/css/style.css}" rel="stylesheet">
    <script src="../../static/js/menu.js"></script>
</head>
<body>

<audio id="onClick" src="../../static/sound/onClick.wav"></audio>

<div class="overlay"></div>
<div class="topnav" id="myTopnav">
    <a onclick="play()" href="http://localhost:8080/" class="active">Home</a>
    <a onclick="play()" href="http://localhost:8080/user-registration">Account</a>
    <a onclick="play()" href="http://localhost:8080/about">About</a>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
    </a>
</div>


<table>
    <thead>
    <tr>
        <th> Username </th>
        <th> ID </th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${user == null}">
        <td colspan="2"> No Friends Yet </td>
    </tr>
    <tr th:each="user : ${user}">
        <td><span th:text="${user.userName}"> Username </span></td>
        <td><span th:text="${user.id}"> ID </span></td>
    </tr>
    </tbody>
</table>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.0.js"></script>
<label for="userIdTo"><b>ID: </b></label>
<input type="number" placeholder="Enter ID: " id="userIdTo" required>

<label for="status"><b>Status</b></label>
<input type="text" placeholder="Enter status" id="status" required>

<button id="btn">Send</button>

<script>
    $("#btn").on('click', function () {
        var $userIdTo = $('#userIdTo');
        var $status = $('#status');
        $.ajax({
            type: "POST",
            url: "/updateRelationship",
            data: {
                userIdTo: $userIdTo.val(),
                status: $status.val()
            },
            success: function success(data) {
                alert("Successfully");
            },
            error: function error(data) {
                alert("Fail");
            }
        });
    });

</script>
<script src="../../static/js/menu.js"></script>

</body>

</html>