<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Profile</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="../../static/css/style.css">


</head>
<body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<audio id="onClick" src="../../static/sound/onClick.wav"></audio>

<div class="overlay"></div>
<div class="topnav" id="myTopnav">
    <a onclick="play()" href="http://localhost8080/home" class="active">Home</a>
    <a onclick="play()" href="http://localhost8080/registration">Account</a>
    <a onclick="play()" href="http://localhost8080/about">About</a>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
    </a>
</div>
<p th:text="${user}"></p>

<button id="addFriend">Add Friend</button>

<script>
    $("#addFriend").on('click', function () {
        var $userId = [[${user.id}]];
        $.ajax({
            type: "POST",
            url: "/addRelationship",
            data: {
                userIdTo: $userId
            },
            success: function success() {
                alert("Your request has been send");
            },
            error: function error(data) {
                alert(data.message);
            }
        });
    });

</script>
</body>
</html>