<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Registration</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="../../static/css/style.css">


</head>
<body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<audio id="onClick" src="../../static/sound/onClick.wav"></audio>

<div class="overlay"></div>
<div class="topnav" id="myTopnav">
    <a onclick="play()" href="http://localhost8080/home" class="active">Home</a>
    <a onclick="play()" href="http://localhost8080/registration">Account</a>
    <a onclick="play()" href="http://localhost8080/about">About</a>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
    </a>
</div>


<div class="registration-form">
    <form id="form">

        <input name="userName" type="text" placeholder="Username"
               required><span></span><br>

        <input name="realName" type="text"
               placeholder="Real Name"><span></span><br>

        <input name="email" type="email" placeholder="Email"
               required><span></span><br>

        <input name="phoneNumber" type="tel" placeholder="Phone Number"
               required><span></span><br>

        <input name="password" type="password" pattern="[0-9]{7,}"
               required placeholder="Password"><span></span><br>
        <button type="submit">Register</button>

    </form>

</div>
<script>
    $("#form").submit(function () {
        $.ajax({
            type: "POST",
            url: "/registerUser",
            data: $('form').serialize(),
            success: function success(data) {
                alert("User Saved Successfully");
            },
            error: function error(data) {
                alert("User Wasn't Saved");
            }
        });
    });

</script>


<script src="../../static/js/menu.js"></script>


</body>

</html>